# Core functionality - changes here should be rare!
/src/app.py                   @inyogeshwar
/src/backend/database.py      @inyogeshwar
/src/backend/routers/auth.py  @inyogeshwar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @inyogeshwar
